<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <!-- PostgreSQL -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/studycards_test</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">abcd</property>
        <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>

        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Echo all executed SQL statements -->
        <property name="show_sql">true</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Auto create or update tables -->
        <property name="hbm2ddl.auto">create</property>

        <!-- Mapping resource configuration files -->
        <mapping class="net.plastboks.studycards.entity.Student"/>
        <mapping class="net.plastboks.studycards.entity.ApiKey"/>
        <mapping class="net.plastboks.studycards.entity.Deck"/>
        <mapping class="net.plastboks.studycards.entity.Colloquium"/>
        <mapping class="net.plastboks.studycards.entity.Play"/>
        <mapping class="net.plastboks.studycards.entity.Card"/>

    </session-factory>
</hibernate-configuration>
